
body {
    background: #f2f2f2;
    font-family: Arial;
}
.container {
    width: 400px;
    margin: auto;
    margin-top: 50px;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    text-align: center;
}
input, button {
    width: 90%;
    padding: 10px;
    margin: 8px;
}
button {
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}
